<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lab.zhang.hermes.dao.IndicatorDao">

    <resultMap id="BaseResultMap" type="lab.zhang.hermes.entity.indicator.IndicatorEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="operator_id" property="operatorId" jdbcType="BIGINT" />
    </resultMap>

    <resultMap id="DetailResultMap" type="lab.zhang.hermes.entity.indicator.IndicatorEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="operator_id" property="operatorId" jdbcType="BIGINT" />
        <result column="expression" property="expression" jdbcType="LONGVARCHAR" />
    </resultMap>

    <sql id="BaseColumnList" >
        id, name, operator_id, is_deleted
    </sql>

    <sql id="DetailColumnList" >
        id, name, operator_id, expression, is_deleted
    </sql>

    <select id="findAll" resultMap="BaseResultMap"  >
        SELECT
            <include refid="BaseColumnList" />
        FROM indicator
    </select>

    <select id="findByCondition" resultMap="BaseResultMap"  >
        SELECT
            <include refid="BaseColumnList" />
        FROM indicator
        WHERE is_deleted = 0
            <if test="condition.containsKey('ids')">
                AND id IN
                <foreach collection="condition.get('ids')" item="value" open="(" separator="," close=")">
                    <if test="value != null">${value}</if>
                </foreach>
            </if>
    </select>

    <select id="findOne" parameterType="java.lang.Long" resultMap="DetailResultMap" >
        SELECT
            <include refid="DetailColumnList" />
        FROM indicator
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="lab.zhang.hermes.entity.indicator.IndicatorEntity"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id" >
        INSERT INTO indicator
            (name,operator_id,expression)
        VALUES
            (#{name}, #{operatorId}, #{expression})
    </insert>

    <update id="update" parameterType="lab.zhang.hermes.entity.indicator.IndicatorEntity" >
        UPDATE indicator
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="expression != null">expression = #{expression},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long" >
        DELETE FROM indicator
        WHERE
            id =#{id}
    </delete>

</mapper>
