<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lab.zhang.hermes.dao.OperatorDao">

    <resultMap id="BaseResultMap" type="lab.zhang.hermes.entity.operator.OperatorEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="DetailResultMap" type="lab.zhang.hermes.entity.operator.OperatorEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="clazz" property="clazz" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="BaseColumnList" >
        id, name
    </sql>

    <sql id="DetailColumnList" >
        id, name, clazz
    </sql>

    <select id="findAll" resultMap="BaseResultMap"  >
        SELECT
            <include refid="BaseColumnList" />
        FROM operator
    </select>

    <select id="findOne" parameterType="java.lang.Long" resultMap="DetailResultMap" >
        SELECT
            <include refid="DetailColumnList" />
        FROM operator
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="lab.zhang.hermes.entity.operator.OperatorEntity" useGeneratedKeys="true" >
        INSERT
        INTO operator (clazz)
        VALUES
            (#{clazz})
    </insert>

    <update id="update" parameterType="lab.zhang.hermes.entity.operator.OperatorEntity" >
        UPDATE
            operator
        <trim prefix="SET" suffixOverrides=",">
            <if test="clazz != null">clazz = #{clazz},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long" >
        DELETE
        FROM operator
        WHERE
            id =#{id}
    </delete>

</mapper>
